html {
  font-family: system-ui;
  margin-top: 20px;
  margin-left: 20px;
}

div {
  margin-bottom: 40px;
}

li {
  margin-bottom: 3px;
}

#flex {
  display: flex;
  gap: 20px;
}

#last-game {
  border: 1px solid black;
  border-radius: 10px;
  width: max-content;
  padding: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}